#splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #cfe9ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    z-index: 2;
    transition: opacity 0.8s ease;
    opacity: 1;
}

/* Logo starts small + invisible */
#logo {
    width: 400px;       
    opacity: 0;         /* invisible first */
    transform: scale(0.2); /* very small first */
    transition: 2s;   /* how smooth the animation is */
}

/* Logo becomes normal size + visible */
#logo.show {
    opacity: 1;
    transform: scale(1);
}

.hiddenText {
    opacity: 0;
    transform: translateY(10px);
    transition: 0.6s;
}

#studioText {
    font-size: 2rem;
}

.showText {
    opacity: 1;
    transform: translateY(0);
    transition: 0.6s;
}

/* Wordmark size */
#titleText {
    width: 350px;
    height: auto;
}

/* text appear */
.showText {
    opacity: 1;
    transform: translateY(0);
    transition: 0.6s;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
}

#loadingPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #cfe9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease;
    opacity: 0;                    /* start hidden */
    pointer-events: none;
}

/* Cloud background */
.cloud {
    position: absolute;
    width: 120%;
    height: 120%;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

/* Loader center */
.loader {
    width: 400px;
    height: 400px;
    position: relative;
    z-index: 2;
}

.welcomeText {
    position: absolute;
    text-align: center;
    color: #1c2b4a;
    opacity: 0;                 /* hidden first */
    transform: translateY(10px);
    transition: 0.8s ease;
    z-index: 3;                 /* above loader */
    transform: translateY(20px) scale(0.95);
}

.welcomeText h1 {
    font-size: 4rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

/* Main website (hidden using HTML hidden attribute) */
#homepage {
    padding: 30px;
    font-family: "Inter", sans-serif;
}